{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% if thesis_id == null %}
                <legend class="border-bottom mb-4">Tambah Mahasiswa</legend>
            {% else %}
                <legend class="border-bottom mb-4">Edit Mahasiswa</legend>
            {% endif %}
            <div class="form-group">
                {{ form.student_id.label(class="form-control-label") }}

                {% if form.student_id.errors %}
                {{ form.student_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.student_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.student_name.label(class="form-control-label") }}
                {% if form.student_name.errors %}
                {{ form.student_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.student_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.code1.label(class="form-control-label") }}
                {% if form.code1.errors %}
                {{ form.code1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.code1.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.code1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.code2.label(class="form-control-label") }}
                {% if form.code2.errors %}
                {{ form.code2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.code2.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.code2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.code3.label(class="form-control-label") }}
                {% if form.code3.errors %}
                {{ form.code3(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.code3.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.code3(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lecturer_id1.label(class="form-control-label") }}
                {% if form.lecturer_id1.errors %}
                {{ form.lecturer_id1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lecturer_id1.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lecturer_id1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lecturer_id2.label(class="form-control-label") }}
                {% if form.lecturer_id2.errors %}
                {{ form.lecturer_id2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lecturer_id2.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lecturer_id2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {% if thesis_id == null %}
                {{ form.submit1(class="btn btn-outline-info") }}
            {% else %}
                {{ form.submit2(class="btn btn-outline-info") }}
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}