{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="row" style="margin-bottom: 15px; margin-top: 10px;">
        <div class="col-lg-6">
            <legend>Daftar Mahasiswa</legend>
        </div>
        <div class="col-lg-6">
            <a href="/student/new" style="float: right;">
                <input class="btn btn-outline-info" type="button" value="Tambah Mahasiswa"/>
            </a>
            <a href="/upload" style="float: right; margin-right: 15px">
                <input class="btn btn-outline-info" type="button" value="Import From Excel"/>
            </a>
        </div>
    </div>
    <hr/>
    <table id="example" cellspacing="0" class="table table-hover table-striped" style="width:100%">
        <thead>
        <tr>
            <th>No.</th>
            <th>NIM</th>
            <th>Nama</th>
            <th style="width: 20%">Judul Skripsi</th>
            <th colspan="3">Kode AP</th>
            <th style="width: 10%">Pembimbing1</th>
            <th style="width: 10%">Pembimbing2</th>
            <th style="width: 15%">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for siswa in mahasiswa %}
        <tr class="tablerow">
            <td></td>
            <td>{{ siswa.student_id }}</td>
            <td>{{ siswa.student_name }}</td>
            <td>{{ siswa.title }}</td>
            {% if siswa.kode1 == "N/A" %}
            <td>-</td>
            {% else %}
            <td>{{ siswa.kode1 }}</td>
            {% endif %}
            {% if siswa.kode2 == "N/A" %}
            <td>-</td>
            {% else %}
            <td>{{ siswa.kode2 }}</td>
            {% endif %}
            {% if siswa.kode3 == "N/A" %}
            <td>-</td>
            {% else %}
            <td>{{ siswa.kode3 }}</td>
            {% endif %}
            <td>{{ siswa.dp1 }}</td>
            {% if siswa.dp2 == "Not Available" %}
            <td>-</td>
            {% else %}
            <td>{{ siswa.dp2 }}</td>
            {% endif %}
            <td>
                <input class="btn btn-primary"
                       onclick="window.location.href='{{ url_for('updatemahasiswa', thesis_id=siswa.thesis_id)}}'"
                       type="button"
                       value="Edit"/>
                <a data-toggle="modal"
                   data-id="{{ siswa.thesis_id }}" class="btn btn-danger deleteMhs"
                   href="#deleteModal">
                    Delete
                </a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Hapus Mahasiswa?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
          <div class="modal-body">
              <p>Apakah Anda yakin ingin menghapus mahasiswa tersebut?</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form method="POST" action="{{url_for('deletemahasiswa')}}">
                <input type="hidden" name="thesis-id" id="thesis-id" value=""/>
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
